*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(to right, #42a7f5, #183a54);
}

.wrapper{
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card{
    background-color: white;
    border-radius: 40px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    max-width: 300px;
}